*{
    margin: 0;
    padding: 0;
}
/* <!-- Header Section Start  --> */

.banner{
    text-align: center;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px ;
    background-position: center;
}
.banner h1{
    color: white;
}
.banner>p{
    color: aliceblue;
    margin: 25px 0;
}
.banner>button{
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

/* <!-- Header Section END  --> */

/* <!-- Donate Section Start  --> */

.donate-part{
    text-align: center;
    padding: 50px 70px;
    max-width: 45%;
    margin: 0 auto;
    /* background-color: aqua; */
}

.donate-part .content h1{
    font-size: 35px;
    padding: 15px 0;
}
.donate-part .content p{
    font-size: 17px;
    color: rgb(122, 119, 119);
    padding: 0 0 25px;
}

.donate-part .donation{
    display: flex;
    justify-content: space-between;
}

.donate-part .donation h1{
    color: rgb(71, 69, 69);
    font-weight: bolder;
}

.donate-part .donation .div1 , .div3 , .div4 , .div5{
    background-color: aliceblue;
    padding: 20px 15px;
}
.donate-part .donation .div2{
    border: 2px solid orangered;
    background-color: rgba(247, 181, 179, 0.363);
    padding: 20px 15px;
}

.donate-part .donation .div2 h1{
    color: orangered;
    font-weight: bolder;
}

.donate-part p{
    font-size: 16px;
    color: rgb(122, 119, 119);
    padding: 35px  0 10px;
}

.donate-part button{
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin: 15px 0 0 ;
}
/* <!-- Donate Section END  --> */

/* Donation plan Section Start  */
.donation-plan{
    max-width: 65%;
    margin: 0 auto;
}
.donation-plan .donation-content{
    text-align: center;
}
.donation-plan .donation-content h1{
    font-size: 35px;
    padding: 15px 0;
}
.donation-plan .donation-content p{
    font-size: 17px;
    color: rgb(122, 119, 119);
    padding: 0 0 25px;
}
.donation-plan .donation{
    display: flex;
    justify-content: space-between;
}
.donation-plan .donation .div1{
    background-color: rgba(144, 243, 210, 0.589);
    padding: 40px 25px 40px 15px;
}

.donation-plan .donation .div1 h3{
    padding: 10px 0;
    font-weight: bolder;
    font-size: 22px;
}
.donation-plan .donation .div1 p{
    font-size: 16px;
    color: rgb(59, 57, 57);
}
.donation-plan .donation .div2{
    background-color: rgba(243, 212, 243, 0.801);
    padding: 40px 25px 40px 15px;
}

.donation-plan .donation .div2 h3{
    padding: 10px 0;
    font-weight: bolder;
    font-size: 22px;
}
.donation-plan .donation .div2 p{
    font-size: 16px;
    color: rgb(59, 57, 57);
}
.donation-plan .donation .div3{
    background-color: rgba(236, 233, 56, 0.637);
    padding: 40px 25px 40px 15px;
}

.donation-plan .donation .div3 h3{
    padding: 10px 0;
    font-weight: bolder;
    font-size: 22px;
}
.donation-plan .donation .div3 p{
    font-size: 16px;
    color: rgb(59, 57, 57);
}
/* Donation plan Section END  */

/* <!-- Donation Article Section Start  --> */
.donation-article{
    max-width: 65%;
    margin: 0 auto;
    padding: 25px 0 50px 0;
}

.donation-article .article1{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.donation-article .article1 .content1{
    max-width: 50%;
}
.donation-article .article1 .content1>h1{
    font-size: 40px;
}
.donation-article .article1 .content1>p{
    font-size: 17px;
    color: rgb(41, 39, 39);
    padding: 10px 0 25px;
}
.donation-article .article1 .content1>button{
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.donation-article .article1 .img{
    max-width: 50%;
}
.donation-article .article1 .img>img{
    max-width: 95%;
}

.donation-article .article2{
    display: flex;
    justify-content: space-between;
}

.donation-article .article2 .content2{
    max-width: 50%;
}
.donation-article .article2 .content2>h1{
    font-size: 40px;
}
.donation-article .article2 .content2>p{
    font-size: 17px;
    color: rgb(41, 39, 39);
    padding: 10px 0 25px;
}
.donation-article .article2 .content2>button{
    background-color: orangered;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.donation-article .article2 .img{
    max-width: 50%;
}
.donation-article .article2 .img>img{
    max-width: 95%;
    margin-top: 45px;
}
/* <!-- Donation Article Section END  --> */